.tiles {
  padding-bottom: 2.5em;
  text-align: center;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
}

.list {
  margin-left: auto;
  margin-right: auto;
  list-style: none;
  padding-left: 0;
}

@media only screen and (min-width: 60em) {
  .list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-top: 2em;
    grid-auto-columns: auto;
  }
}

.list img {
  max-width: 100%;
}

.list li {
  position: relative;
}

@media only screen and (min-width: 60em) {
  .list h3 {
    position: absolute;
    top: 0;
    left: 1em;
    color: #fff;
    font-weight: bold;
    font-size: 1.5em;
  }
}
